.containers {
  background-color: #262626;
}
.navItem {
  display: flex;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  justify-content: center;
}

.btn {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  width: 10rem;
  border-radius: 0.25rem;
  border-width: 2px;
}

.btn:hover {
  background: #383838;
}

.blogContainer {
  display: flex;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  flex-direction: column;
  align-items: center;
  border-radius: 1.5rem;
  border-width: 1px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  margin-left: 15%;
  margin-right: 15%;
}

.insight {
  padding-bottom: 0.5rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  color: #6b7280;
  font-weight: 700;
  text-align: center;
  border-bottom-width: 2px;
  border-color: #d1d5db;
  width: 550px;
}


