.container {
  display: flex;
  margin: 50px 0.75rem ;
  justify-content: center;
  gap:10px
}

.left {
  border: 1px solid gray;
  padding:20px 10px;
  background-color: #1f2937;
  color: #ffffff;
  border-radius: 0.75rem;
  width: 500px;
  height: 560px;
}

.right {
  border: 1px solid gray;
  padding: 0 10px;
  border-radius: 0.75rem;
  width: 500px;
  height: 600px;
}

@media screen and (max-width: 730px){
 .container{
  flex-direction: column;
  align-items: center;
 } 
}

@media screen and (max-width: 560px){
  .left,.right{
    width: 350px;
  }
}
